<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id="propertiesEdit">

  <%= form_for(@user) do |f| %>

    <div class="item">
      <dl>
	<dt><%= f.label :givenname %></dt>
	<dd><%= f.text_field :givenname %></dd>
      </dl>
    </div>

    <div class="item">
      <dl>
	<dt><%= f.label :surname %></dt>
	<dd><%= f.text_field :surname %></dd>
      </dl>
    </div>

    <div class="item">
      <dl>
	<dt>Roles</dt>
	<dd>
    <% Role.order('name').each do |role| %>
      <%= check_box_tag("role[]", role.id, @user.roles.include?(role),
	                id: "role_#{role.id}", class: 'checkbox') %>
      <%= label_tag("role_#{role.id}",
                    role.name.blank? ? '(unamed role)' : role.name ) %><br/>
    <% end %>
	</dd>
      </dl>
    </div>

    <div class="item">
      <dl>
	<dt><%= f.label :auth_name, 'Username' %></dt>
	<dd><%= f.text_field :auth_name %>
	</dd>
      </dl>
    </div>

    <div class="item">
      <dl>
	<dt><%= f.label :auth_value, 'Password' %></dt>
	<dd><%= f.password_field :auth_value %></dd>
      </dl>
    </div>

    <div class="item">
      <dl>
	<dt></dt>
	<dd><%= f.password_field :auth_value_confirmation %></dd>
      </dl>
    </div>

    <div id="actions">
      <div class="main">
	<%= f.submit(@user.new_record? ? 'Create user' : 'Save user') %>
      </div>
      <div class="alt">
	<%=
	   if @user.new_record?
	     link_to('Cancel', users_path, class: 'buttonCancel',
	             confirm: 'Discard and do not create a new user?')
	   else
	     link_to('Cancel', @user, class: 'buttonCancel',
	             confirm: 'Discard any changes and leave user unchanged?')
	   end
	%>
      </div>
    </div>

    <% end %>

</div>
