<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id="propertiesEdit">

  <%= form_for(@user) do |f| %>

    <div class="item">
      <dl>
	<dt><%= f.label :givenname %></dt>
	<dd><%= f.text_field :givenname %></dd>
      </dl>
    </div>

    <div class="item">
      <dl>
	<dt><%= f.label :surname %></dt>
	<dd><%= f.text_field :surname %></dd>
      </dl>
    </div>

    <div class="item">
      <dl>
	<dt>Roles</dt>
	<dd>
    <% Role.order('name').each do |role| %>
      <%= check_box_tag "role[]", role.id, @user.roles.include?(role), :id => "role_#{role.id}" %>
      <%= label_tag("role_#{role.id}", role.name) %><br/>
    <% end %>
	</dd>
      </dl>
    </div>

    <div class="item">
      <dl>
	<dt><%= f.label :auth_name, 'Username' %></dt>
	<dd><%= f.text_field :auth_name %>
	</dd>
      </dl>
    </div>

    <div class="item">
      <dl>
	<dt><%= f.label :auth_value, 'Password' %></dt>
	<dd><%= f.password_field :auth_value %></dd>
      </dl>
    </div>

    <div class="item">
      <dl>
	<dt></dt>
	<dd><%= f.password_field :auth_value_confirmation %></dd>
      </dl>
    </div>

    <div id="submitActions">
      <%= f.submit('Save user', id: 'save') %>
    </div>
    <% end %>

    <div id="cancelActions"><%=
  # Cancel button

  if @user.new_record?
    message = 'Discard all entered information?'
    path = users_path()
  else
    message = 'Discard all changes?'
    path = @user
  end
  form_tag(path, :method => :get) do 
    submit_tag('Cancel', :confirm => message)
  end
%></div>

</div>
