<% content_for(:page_title) do "Users" end %>
<% content_for(:page_heading) do "Users" end %>

<table id="users">
  <tr>
    <th>Surname</th>
    <th>Givenname</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.surname %></td>
    <td class="givenname"><%= user.givenname %></td>
    <td><%= link_to 'Show', user, :title => "Show: #{user.uuid}" %>
    <%= link_to 'Edit', edit_user_path(user) %>
    <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<% content_for(:navigation) { side_nav_bar(:administration) } %>
