<% content_for(:page_title) do "Users" end %>
<% content_for(:page_heading) do "Users" end %>

<table id="users">
  <tr>
    <th>Surname</th>
    <th>Givenname</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.surname %></td>
    <td class="givenname"><%= user.givenname %></td>
    <td><%= link_to 'Show', user, :title => "Show: #{user.uuid}" %>
    <%= link_to 'Edit', edit_user_path(user) %>
    <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<% content_for(:navigation) do %>
<ul id="navigation">
  <li><a class="head" href="<%= records_path %>">Records</a></li>
  <li><a class="head" href="/">Settings</a></li>
  <li><a class="head" href="/users">Administration</a></li>
    <ul class="section">
      <li><a href="<%= users_path %>">Users</a></li>
      <li><a href="<%= new_user_path %>">Create new user</a></li>
      <li><a href="<%= roles_path %>">Roles</a></li>
    </ul>
  </li>
  <li><a class="head link" href="/help">Help</a></li>
</ul>
<% end %>
