<% content_for(:page_title) do "User: #{@user.givenname} #{@user.surname}" end %>
<% content_for(:page_heading) do "User: #{@user.givenname} #{@user.surname}" end %>

<p id="notice"><%= notice %></p>

<div id="user">
<dl>
  <dt>Surname</dt><%#
%><dd><%= @user.surname %></dd><%#
%><dt>Givenname:</dt><%#
%><dd><%= @user.givenname %></dd><%#
%><dt>Roles:</dt><%#
%><dd>
    <% @user.roles.map { |r| r.shortname }.sort.each do |role_name| %>
      <span><%= role_name %></span>
    <% end %>
  </dd><%#
%><dt>Authentication:</dt><%#
%><dd>
    <%= case@user.auth_type
	when nil
	'[login not permitted]'
	when Thales::Authentication::Password::AUTH_TYPE
	  "#{@user.auth_name} (password)"
	else
	  '[unknown]'
	end %>
  </dd><%#
%><dt>UUID</dt><%#
%><dd><%= @user.uuid %></dd>
</dl>


  <div id="editActions">
  <%=
    form_tag(edit_user_path(@user), :method => :get) do 
      submit_tag('Edit this user')
    end
  %>
  </div>

</div>

<% content_for(:navigation) do %>
<ul id="navigation">
  <li><a class="head" href="<%= records_path %>">Records</a></li>
  <li><a class="head" href="/">Settings</a></li>
  <li><a class="head" href="/users">Administration</a></li>
    <ul class="section">
      <li><a href="<%= users_path %>">Users</a></li>
      <li><a href="<%= new_user_path %>">Create new user</a></li>
      <li><a href="<%= roles_path %>">Roles</a></li>
    </ul>
  </li>
  <li><a class="head link" href="/help">Help</a></li>
</ul>
<% end %>
