<% content_for(:page_title) do "User: #{@user.givenname} #{@user.surname}" end %>
<% content_for(:page_heading) do "User: #{@user.givenname} #{@user.surname}" end %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div id="user">
<dl>
  <dt>Given name</dt><%#
%><dd><%= @user.givenname %></dd><%#
%><dt>Surname:</dt><%#
%><dd><%= @user.surname %></dd><%#
%><dt>Roles:</dt><%#
%><dd>
    <% @user.roles.map { |r| r.shortname }.sort.each do |role_name| %>
      <span><%= role_name %></span>
    <% end %>
  </dd><%#
%><dt>Authentication:</dt><%#
%><dd>
    <%= case@user.auth_type
	when nil
	'[login not permitted]'
	when Thales::Authentication::Password::AUTH_TYPE
	  "#{@user.auth_name} (password)"
	else
	  '[unknown]'
	end %>
  </dd>
</dl>


  <div id="editActions">
  <%=
    form_tag(edit_user_path(@user), :method => :get) do 
      submit_tag('Edit this user')
    end
  %>
  </div>

</div>

<% content_for(:navigation) { side_nav_bar(:administration) } %>
