<% content_for(:page_title) do "User: #{@user.givenname} #{@user.surname}" end %>
<% content_for(:page_heading) do "User: #{@user.givenname} #{@user.surname}" end %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div id="propertiesShow">

  <h3>User details</h3>

<div class="item">
  <dl>
    <dt>Given name</dt>
    <dd class="first"><%= @user.givenname %></dd>
  </dl>
</div>

<div class="item">
  <dl>
    <dt>Surname:</dt>
    <dd class="first"><%= @user.surname %></dd>
  </dl>
</div>

<h3>Authentication</h3>

<div class="item">
  <dl>
    <dt>Username:</dt>
    <dd class="first"><%= @user.auth_name %></dd>
  </dl>
</div>

<div class="item">
  <dl>
    <dt>Method:</dt>
    <dd class="first">
      <%= case@user.auth_type
	  when nil
	  '[login not permitted]'
	  when Thales::Authentication::Password::AUTH_TYPE
	  "Password"
	  else
	  '[unknown]'
	  end %>
    </dd>
  </dl>
</div>

<%#
Not useful yet.

<h3>Authorization</h3>

<div class="item">
  <dl>
    <dt>Roles:</dt>
    <dd class="first">
      <---% @user.roles.map { |r| r.shortname }.sort.each do |role_name| %--->
      <span><%---= role_name %---></span>
      <---% end %--->
    </dd>
  </dl>
</div>
%>

<div id="actions">
  <div class="main">
    <%= link_to('Edit user', edit_user_path(@user), class: 'buttonEdit') %>
  </div>
  <div class="subordinate">
    <%= link_to('Delete user', @user, method: :delete, class: 'buttonDelete',
	        confirm: 'Delete this user?') %>
  </div>
</div>
</div>

<% content_for(:navigation) { side_nav_bar(:administration) } %>
