<% content_for(:page_title) do "Properties" end %>
<% content_for(:page_heading) do "Properties" end %>

<p>Properties are types for entries.</p>

<p><%= pluralize(@properties.size, 'properties') %></p>

<% @properties.each do |property| %>
  <div class="properties-index-entry">
    <h2><%= property.name %> (<%= property.shortname %>)</h2>
   
    <p class="description"><%= property.description %></p>
    <p class="uuid" title="ID=<%= property.id %>"><%= property.uuid %></p>
  </div>

  <%#= link_to 'Show', property %>
  <%#= link_to 'Edit', edit_property_path(property) %>
  <%#= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>


<br />

<%= link_to 'New Property', new_property_path %>
