<div id="propertiesEdit">

<% max_short_length = 40 %>
<% max_length = 255 %>
<% max_long_length = 255 %>

<%= form_for(@record) do |f| %>

  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field(:ser_type) %>

  <% if @data.instance_of? Thales::Datamodel::EResearch::Collection %>

  <%= form_subtype(@data) %>
  <%= form_group(@data, "General information",
      :title, :title_alt, :description, :identifier) %>
  <%= form_group(@data, "Tags",
      :tag_keyword, :tag_FoR, :tag_SEO) %>
  <%= form_group(@data, "Other",
      :contact_email, :web_page) %>
  <%= form_group(@data, "Coverage",
      :temporal, :spatial_geoname, :spatial_point, :spatial_polygon) %>
  <%= form_group(@data, "Rights",
      :rights_access, :rights_statement, :rights_licence) %>
  <%= form_group(@data, "Related records",
      :createdBy, :managedBy, :accessedVia, :referencedBy) %>

  <% elsif @data.instance_of? Thales::Datamodel::EResearch::Party %>

  <%= form_subtype(@data) %>
  <%= form_group(@data, "Name",
      :name_prefix, :name_given, :name_family) %>
  <%= form_group(@data, "General information",
      :title, :title_alt, :description, :identifier) %>
  <%= form_group(@data, "Tags",
      :tag_keyword, :tag_FoR, :tag_SEO) %>
  <%= form_group(@data, "Other",
      :contact_email, :web_page) %>
  <%= form_group(@data, "Related records",
      :creatorFor, :managerFor, :operatorFor, :participantIn, :authorOf) %>

  <% elsif @data.instance_of? Thales::Datamodel::EResearch::Activity %>

  <%= form_subtype(@data) %>
  <%= form_group(@data, "General information",
      :title, :title_alt, :description, :identifier) %>
  <%= form_group(@data, "Tags",
      :tag_keyword, :tag_FoR, :tag_SEO) %>
  <%= form_group(@data, "Other",
      :contact_email, :web_page) %>
  <%= form_group(@data, "Coverage",
      :temporal) %>
  <%= form_group(@data, "Related records",
      :hasParticipant, :producerFor) %>

  <% elsif @data.instance_of? Thales::Datamodel::EResearch::Service %>

  <%= form_subtype(@data) %>
  <%= form_group(@data, "General information",
      :title, :title_alt, :description, :identifier) %>
  <%= form_group(@data, "Tags",
      :tag_keyword, :tag_FoR, :tag_SEO) %>
  <%= form_group(@data, "Other",
      :contact_email, :web_page) %>
  <%= form_group(@data, "Related records",
      :operatedBy, :providesAccessTo) %>

  <% else %>
  <p>Internal error: unknown record type for form.</p>
  <% end %>

<!-- Demo of potential upload capability
<h3>Data</h3>
<div class="item" id="upload">
  <dl>
    <dt><label for="upload_file">Upload data</label></dt>
    <dd class="first"><%= file_field 'upload', 'datafile' %></dd>
  </dl>
</div>
-->

<!-- :confirm => question, -->
  <div id="submitActions">
    <%= f.submit(:id => 'save') %>
  </div>

<% end %> <%# form_for %>

<div id="cancelActions">
<%=
  # Cancel button

  if @record.new_record?
    message = 'Discard all entered information?'
    path = records_path
  else
    message = 'Discard all changes?'
    path = @record
  end
  form_tag(path, :method => :get) do 
    submit_tag('Cancel', :confirm => message)
  end
%>
</div>

</div>
