<div id="editform">

<%= form_for(@record) do |f| %>

  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--
  <div class="field">
    <%= f.label :uuid %><br />
    <%= f.text_field :uuid, :size => 40 %>

  </div>
-->

<h3>Data content</h3>
<%= field_text_1('title', 'Title', @collection.title, 80) %>
<%= field_text_0n('altTitle', 'Alternative title', @collection.alt_titles, 80) %>
<%= field_area_1('description', 'Description', @collection.description, 80) %>
<%= field_text_0n('extId', 'Identifier', [], 255) %>

<h3>Coverage</h3>

<%= field_text_0n('temporal', 'Time period covered', [], 40) %>
<%= field_text_0n('spatial', 'Geographic Location', [], 40) %>

<h3>Topics</h3>

<%= field_text_0n('FoR', 'Field of research (FoR)', [], 40) %>
<%= field_text_0n('SEO', 'Socio-Economic Outcomes (SEO)', [], 40) %>
<%= field_text_0n('keyword', 'Keyword (free text)', @collection.keywords, 40) %>

<h3>Data availability</h3>

<%= field_text_0n('url', 'Web page', @collection.urls, 255) %>

<h3>Rights</h3>

<p>Provide at least one of the following.</p>

<%= field_area_1('rights_access', 'Access rights', @collection.rights_access, 80) %>
<%= field_area_1('rights_statement', 'Rights statement', @collection.rights_statement, 80) %>
<%= field_text_1('rights_licence', 'Licence', @collection.rights_licence, 80) %>

<h3>People and projects</h3>

<%= field_text_0n('creator', 'Creator', [], 255) %>
<%= field_text_0n('custodian', 'Custodian or contact', [], 255) %>
<%= field_text_0n('project', 'Project', [], 255) %>

<!-- :confirm => question, -->
  <div id="submitActions">
    <%= f.submit(:id => 'save') %>
  </div>

<% end %> <%# form_for %>

<div id="cancelActions">
<%=
  # Cancel button

  if @record.new_record?
    message = 'Discard all entered information?'
    path = records_path
  else
    message = 'Discard all changes?'
    path = @record
  end
  form_tag(path, :method => :get) do 
    submit_tag('Cancel', :confirm => message)
  end
%>
</div>

</div>
