<div id="editform">

<% max_short_length = 40 %>
<% max_length = 255 %>
<% max_long_length = 255 %>

<%= form_for(@record) do |f| %>

  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--
  <div class="field">
    <%= f.label :uuid %><br />
    <%= f.text_field :uuid, :size => 40 %>

  </div>
-->

<h3>Data content</h3>
<%= field_text_1('title', 'Title', @collection.title, max_length) %>
<%= field_text_0n('altTitle', 'Alternative title', @collection.alt_titles, max_length) %>
<%= field_area_1('description', 'Description', @collection.description, max_long_length) %>
<%= field_text_0n('identifier', 'Identifier', @collection.identifiers, 255) %>

<h3>Topics</h3>

<%= field_text_0n('keyword', 'Keyword (free text)', @collection.keywords, max_short_length) %>
<%= field_text_0n('FoR', 'Field of research (FoR)', @collection.for_codes, max_short_length) %>
<%= field_text_0n('SEO', 'Socio-Economic Outcomes (SEO)', @collection.seo_codes, max_short_length) %>

<h3>Information</h3>

<%= field_text_0n('email', 'Contact email', @collection.emails, 255) %>
<%= field_text_0n('url', 'Web page', @collection.urls, 255) %>

<h3>Coverage</h3>

<%= field_text_0n('temporal', 'Time period covered', @collection.temporal_coverages, max_length) %>
<%= field_text_0n('spatial', 'Geographic location covered', @collection.spatial_coverages, max_length) %>

<h3>Rights</h3>

<p>Provide at least one of the following.</p>

<%= field_area_1('rights_access', 'Access rights', @collection.rights_access, max_length) %>
<%= field_area_1('rights_statement', 'IP rights statement', @collection.rights_statement, max_length) %>
<%= field_text_1('rights_licence', 'Licence', @collection.rights_licence, max_length) %>

<h3>People and projects</h3>

<%= field_text_0n('creator', 'Creator', @collection.creators, 255) %>
<%= field_text_0n('custodian', 'Custodian or contact', @collection.custodians, 255) %>
<%= field_text_0n('project', 'Project', @collection.projects, 255) %>


<!-- Demo of potential upload capability -->
<h3>Data</h3>
<div class="item" id="upload">
  <dl>
    <dt><label for="upload_file">Upload data</label></dt>
    <dd class="first"><%= file_field 'upload', 'datafile' %></dd>
  </dl>
</div>

<!-- :confirm => question, -->
  <div id="submitActions">
    <%= f.submit(:id => 'save') %>
  </div>

<% end %> <%# form_for %>

<div id="cancelActions">
<%=
  # Cancel button

  if @record.new_record?
    message = 'Discard all entered information?'
    path = records_path
  else
    message = 'Discard all changes?'
    path = @record
  end
  form_tag(path, :method => :get) do 
    submit_tag('Cancel', :confirm => message)
  end
%>
</div>

</div>
