<% content_for(:page_title) do "Records" end %>
<% content_for(:page_heading) do "Description records" end %>

<%= search_block %>

<table id="gradient-style" summary="Results">
  <thead>
    <tr><th scope="col">Data collections</th></tr>
  </thead>
  <tbody>
    <% # Output each entry as a separate row of the table

       @entries.each do |col|
         record = col[0]
         collection = col[1]
       %>
    <tr>
      <% if collection.title && ! collection.title.blank?
           display_title = collection.title
	 else
           display_title = '(untitled)'
	 end %>
      <td><h1><%= link_to display_title, record, :title => record.uuid %></h1>
	<span>This is an example</span></td>
      <%# <%= link_to 'Edit', edit_record_path(record) %>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td><%= pluralize(@entries.size, 'record') %></td></tr>
  </tfoot>
</table>        

<p><%= link_to 'New record', new_record_path, :class => 'new' %></p>

