<% if @collection.title && ! @collection.title.blank?
      display_title = @collection.title
    else
      display_title = '(untitled)'
    end
 %>

<% content_for(:page_title) do display_title end %>
<% content_for(:page_heading) do display_title end %>

<p id="notice"><%= notice %></p>

<!-- <%= @record.uuid %> -->

<div id="show">
  <h3>Data content</h3>
  <%= show_field(@collection.title, 'Title') %>
  <%= show_field(@collection.alt_titles, 'Alternative title') %>
  <%= show_field(@collection.description, 'Description') %>
  <%= show_field(@collection.identifiers, 'Identifiers') %>

  <h3>Topics</h3>
  <%= show_field(@collection.keywords, 'Keyword') %>
  <%= show_field(@collection.for_codes, 'Field of Research (FoR)') %>
  <%= show_field(@collection.seo_codes, 'Socio-Economic Outcomes (SEO)') %>
  
  <h3>Information</h3>
  <%= show_field(@collection.emails, 'Contact email') %>
  <%= show_field(@collection.urls, 'Web page') %>

  <h3>Coverage</h3>
  <%= show_field(@collection.temporal_coverages, 'Time period covered') %>
  <%= show_field(@collection.spatial_coverages, 'Geographic location covered') %>

  <h3>Rights</h3>
  <%= show_field(@collection.rights_access, 'Access rights') %>
  <%= show_field(@collection.rights_statement, 'IP rights statement') %>
  <%= show_field(@collection.rights_licence, 'Licence') %>

  <h3>People and projects</h3>
  <%= show_field(@collection.creators, 'Creator') %>
  <%= show_field(@collection.custodians, 'Custodian or contact') %>
  <%= show_field(@collection.projects, 'Project') %>

  <div id="editActions">
  <%=
    # Edit button
 
    form_tag(edit_record_path(@record), :method => :get) do 
      submit_tag('Edit this record')
    end
  %>
  </div>

</div>


<% content_for(:navigation) do %>
<ul id="navigation">
  <li><a class="head" href="#">Records</a>
    <ul class="section">
      <li><a href="<%= records_path %>">Search</a></li>
      <li><a href="<%= records_path %>">Browse</a></li>
      <li><a href="<%= new_record_path %>">Create a new collection record</a></li>
    </ul>
  </li>
  <li><a class="head" href="/">Settings</a></li>
  <li><a class="head" href="<%= users_path %>">Administration</a></li>
  <li><a class="head link" href="/help">Help</a></li>
</ul>
<% end %>
