<%= form_for(@settings) do |f| %>
  <% if @settings.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@settings.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @settings.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :oaipmh_repositoryName %><br />
    <%= f.text_field :oaipmh_repositoryName %>
  </div>
  <div class="field">
    <%= f.label :oaipmh_adminEmail %><br />
    <%= f.text_field :oaipmh_adminEmail %>
  </div>

  <div class="field">
    <%= f.label :rifcs_group %><br />
    <%= f.text_field :rifcs_group %>
  </div>
  <div class="field">
    <%= f.label :rifcs_originatingSource %><br />
    <%= f.text_field :rifcs_originatingSource %>
  </div>

  <div class="actions">
    <%= f.submit(id: 'save') %>
  </div>

<div id="cancelActions">
<%=
  # Cancel button
  form_tag(settings_path, :method => :get) do 
    submit_tag('Cancel', :confirm => 'Discard all changes?')
  end
%>
</div>


<% end %>
