
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="propertiesEdit">

  <%= form_for(@role) do |f| %>

    <div class="item">
      <dl>
	<dt><span><%= f.label :name %></span></dt>
	<dd class="first"><%= f.text_field :name %></dd>
      </dl>
    </div>

    <div class="item">
      <dl>
	<dt><span><%= f.label :shortname %></span></dt>
	<dd class="first"><%= f.text_field :shortname %></dd>
      </dl>
    </div>

    <div id="actions">
      <div class="main">
	<%= f.submit(@role.new_record? ? 'Create role' : 'Save role') %>
      </div>
      <div class="alt">
	<%= 
	   if @role.new_record?
	     link_to('Cancel', roles_path, class: 'buttonCancel',
	             confirm: 'Discard and do not create a new role?')
	   else
	     link_to('Cancel', @role, class: 'buttonCancel',
	             confirm: 'Discard any changes and leave role unchanged?')
	   end
	   %>
      </div>
    </div>

  <% end %>

</div>
