
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="propertiesEdit">

  <%= form_for(@role) do |f| %>

    <div class="item">
      <dl>
	<dt><span><%= f.label :name %></span></dt>
	<dd class="first"><%= f.text_field :name %></dd>
      </dl>
    </div>

    <div class="item">
      <dl>
	<dt><span><%= f.label :shortname %></span></dt>
	<dd class="first"><%= f.text_field :shortname %></dd>
      </dl>
    </div>

    <div id="submitActions">
      <%= f.submit(id: 'save') %>
    </div>
  <% end %>

  <div id="cancelActions">
    <%=
       # Cancel button
       form_tag(roles_path, :method => :get) do 
         submit_tag('Cancel', :confirm => 'Discard all changes?')
       end
    %>
  </div>

</div>
