<% content_for(:page_title) do "Roles" end %>
<% content_for(:page_heading) do "Roles" end %>

<p id="notice"><%= notice %></p>

<table id="roles">
  <tr>
    <th>Name</th>
    <th>Shortname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%= role.name %></td>
    <td><%= role.shortname %></td>
    <td><%= link_to 'Show', role, :title => "Show: #{role.uuid}" %></td>
    <td><%= link_to 'Edit', edit_role_path(role) %></td>
    <td><%= link_to 'Delete', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<% content_for(:navigation) do %>
<ul id="navigation">
  <li><a class="head" href="<%= records_path %>">Records</a></li>
  <li><a class="head" href="/">Settings</a></li>
  <li><a class="head" href="<%= users_path %>">Administration</a></li>
    <ul class="section">
      <li><a href="<%= users_path %>">Users</a></li>
      <li><a href="<%= roles_path %>">Roles</a></li>
      <li><a href="<%= new_role_path %>">Create new role</a></li>
    </ul>
  </li>
  <li><a class="head link" href="/help">Help</a></li>
</ul>
<% end %>
