<p id="notice"><%= notice %></p>

<p>
  <b>Uuid:</b>
  <%= @role.uuid %>
</p>

<p>
  <b>Name:</b>
  <%= @role.name %>
</p>

<p>
  <b>Shortname:</b>
  <%= @role.shortname %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
