<!DOCTYPE html>
<html>
<head>
  <title>Thales: <%= yield(:page_title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
 <div class="inner">
  <h1><%= yield(:page_heading) %></h1>
 </div>
</div>

<div id="topnav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/records">Manage</a></li>
  </ul>
</div>


<div id="content-primary">
<%= yield %>
<%= login_block %>
</div>

<div id="content-secondary">
  <h1 class="accordion-title">On this site</h1>
  <div id="accordian">
    <ul id="navigation">
      <li><a class="head link" href="/records">Records</a></li>
      <li><a class="head link" href="/roles">Roles</a></li>
      <li><a class="head link" href="/users">Users</a></li>
    </ul>
  </div>
</div>


<div id="footer">
 <div class="inner">

 </div>
</div>

</body>
</html>
