<!DOCTYPE html>
<html>
<head>
  <title>Thales: <%= yield(:page_title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div id="header">
 <div class="inner">
  <h1><%= yield(:page_heading) %></h1>
 </div>
</div>

<div id="topnav">
 <div class="inner">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="<%= records_path %>">Records</a></li>
    <li><a href="/">Settings</a></li>
    <li><a href="<%= users_path %>">Administration</a></li>
    <li><a href="/help">Help</a></li>
  </ul>
  <%= login_block %>
 </div>
</div>

<div id="main">
<div class="inner">
<%= yield %>
<%= yield(:navigation) %>
</div>
</div>

<div id="footer">
 <div class="inner">

 </div>
</div>

</body>
</html>
